
build/Release
node_modules/
typings/
.npm
.yarn-integrity
.webpack/
dist/
/public/style.css
./yarn-error.log
skin0.json
.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
